DATABASE_URL=postgresql://neondb_owner:npg_9lOrtRD7GsCP@ep-falling-sky-aix1w13e-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# Frontend
FRONTEND_URL=http://localhost:5173

# Environment
ENVIRONMENT=development
DEBUG=True